QPushButton
{
    background-color:#fff;
    border-radius:5%;
    color: #000;
}
QPushButton:hover
{
    cursor:pointer;
    background-color:#409eff;
    border-radius:5%;
    color: #fff;
}
QLabel#video_list_name
{
    font-size:18px;
    font-weight:bold
}
QLabel#video_list{
    border:1px solid #000
}